body {
	background: #aab2bc;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

li {
    display: inline;
}


li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: helvetica;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #84e1a8;
    color: #182e49;
}

#johnAndMiriam {
	width: auto;
	height: 600px;
	left: 175px;
    top: 20px;
	padding-top: 75px;
	position: fixed;
	z-index: -1;
}

#overLay {
	width: auto;
	height: 800px;
	position: relative; 
}

#about {
	background-color: #182e49; 
	font-family: helvetica;
	color: #aab2bc;
	margin-left: 620px;
	padding: 20px;
	background-size: 150px;
 	width: 600px;
  	height: 100px;
}

h2 {
	font-family: helvetica;
	background-color: #182e49;
	color: #aab2bc;
	margin: auto;
	padding: 8px;
	width: 200px;
  	height: auto;
}

h3 {
	margin-top: 10px;
	margin-bottom: 40px;
}

#Ceremony {
	font-family: helvetica;
	display: block;
	text-align: center;
	color: #182e49;
}

#Party {
	font-family: helvetica;
	display: block;
	text-align: center;
	color: #182e49;
}

#house {
	width: 300px;
	height: auto;
	display: block;
	margin: auto;
	position: static;
	margin-top: 20px;
	margin-bottom: 20px;
}

#johnAndMiriam {
	width: 250px;
	height: auto;
	display: block;
	margin: auto;
	position: static;
	margin-top: -40px;
}




